html{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 20px;
}
body{
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.log{
   width: 300px;
   padding: 20px;
   background-color:darkcyan;
   box-shadow: 0 4px 8px rgba(0,0,0,1.9);
   border-radius:  100px;
   background: transparent;
}
.log input[type="text"],
.log textarea{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid darkcyan;
    border-radius: 4px;
}
.log button{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    background-color:blueviolet;
    width: 50%;
    border: none;
    color: black;
    margin-left: 60px;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
}
.log button:hover{
    background-color: lime;
}
.log input[type="text"]:hover{
    background-color:wheat;
}